vendor/
node_modules/
storage/
public/swf/
public/pdf/
public/xls/
resources/assets/libs
composer.lock
composer.phar
.env
.idea
admin/.htaccess
aceadmin/.htaccess
dashboard/.htaccess
yandex/.htaccess
dashboard/htaccess
yandex/htaccess
admin/htaccess
aceadmin/htaccess