vendor/
node_modules/
storage/
public/swf/
public/pdf/
public/xls/
resources/assets/libs/
.idea/
composer_local.json
.phpstorm.meta.php
_ide_helper.php
composer.lock
composer.phar
.env
.env.dusk
admin/.htaccess
aceadmin/.htaccess
dashboard/.htaccess
yandex/.htaccess
server/.htaccess
admin/htaccess
aceadmin/htaccess
dashboard/htaccess
yandex/htaccess
server/htaccess